.flight-schedule {
  margin-top: 1rem;
  border-top: 2px solid #eee;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;

    h3 {
      margin: 0;
      color: black;
    }

    p {
      margin: 0;
    }
  }

  &__departures, &__arrivals {
    h4 {
      // margin: 0;
      font-size: 14px;
    }

    &-list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      & span {
        font-size: 14px;
        flex: 33%;
      }
    }
  }
}
